
.dashboard {
display: inline-block;
 width: 20000px;
 height: 20000px;
 // background: #F9E091;
 background: #F0EAD6;
 color: white;
}

#drink-index {
  position: absolute;
   top: 100px;
   left: 100px;
   background: blue;
}
