div.login-form-container, div.signup-form-container{
  display: block;
  text-align: center;
  height: 100%;
  align-content: center;
}
form {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 350px;
    background-color: #B8BFB4;
    font-family: $questrial;
    font-size: 40px;
    color:#53131E;
    opacity: 0.9;
    padding: 25px;
    border-radius: 10px;

input {
  font-size:20px;
  height: 20px;
}

}
label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    text-align: left;
    font-family: $questrial;
    color:#53131E;
}
button.submit-button{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  font-size:30px;
  padding: 5px;
}
button.submit-button:hover{
  background-color: #6F6E63;
  color:#53131E;
}

label {
    color: #2D2D2D;
    font-size: 25px;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.login-username,.login-password {
  align-content: center;
  vertical-align: middle;
}

.submit-button {
  text-align: center;
}

input.submit-button {
  font-size: 100px;
}
