div.login-form-container, div.signup-form-container{
  display: block;
  text-align: center;
  height: 100%;
  align-content: center;
}
form {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: #B8BFB4;
    font-family: $questrial;
    font-size: 40px;
    color:black;
    opacity: 0.9;
    padding: 25px;
    border-radius: 10px;

input {
  font-size:20px;
  height:30px;
  width:150px;
  text-align: center;
}


}
label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    text-align: left;
    font-family: $questrial;
    color:black;
    padding:10px;
}
button.submit-button{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  font-size:30px;
  padding: 5px;
  margin-left: 23px;
  margin-bottom: 20px;
}
button.submit-button:hover{
  background-color: #e5aa44;
  color: white;
}

label {
    color:black;
    font-size: 25px;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.login-username,.login-password {
  align-content: center;
  vertical-align: middle;
}

.submit-button {
  text-align: center;
}

input.submit-button {
  font-size: 100px;
}
