// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#review-index {
	align-self: flex-start;
	margin-top: 100px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	display: flex;
	flex-direction: column-reverse;
	width: 90%;
}

ul#review-index > li {
	display: flex;
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-right: none;
	padding: 20px;
	height: 40px;
}

ul#review-index li:nth-last-of-type(1n + 10) {
	display: none;
}

#review-index {
	font-family: $questrial;
	top: 100px;
	left: 100px;
	background: white;
	color: black;
}

#username,
#drink-name,
#location {
	font-weight: bold;
}

.review-sentence {
	font-size: 20px;
}
#review-rating {
	margin-right: 20px;
	position: relative;
	float: left;
	padding: 5px;
	background-color: #8b6445;
	height: -webkit-fill-available;
	font-size: xx-large;
	font-color: white;
}
.review-body-head {
	font-size: 20px;
}

.body-container {
	width: 450px;

	margin-left: auto;
}

#body:after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.406em solid transparent;
	border-right-color: #7fbbb5;
	border-left: 0;
	border-top: 0;
	margin-top: -0.703em;
	margin-left: -1.406em;
}

#body {
	position: relative;
	background: #7fbbb5;
	border-radius: 0.4em;
	align-self: center;
	left: 30px;
	padding: 10px;
	border-width: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.review-index-item {
	font-family: $questrial;
	align-items: center;
}

.user-title {
	font-size: 30px;
	align-self: center;
}
.user-buttons {
	display: flex;
}
.user-delete-button,
.user-edit-button {
	min-height: 30px;
	display: flex;
	align-items: center;
	border-color: white;
	background-color: blue;
	border-width: thick;
	border-width: 2px;
	border-style: solid;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 10px;
	font-weight: bold;
	color: #b8bfb4;

	font-family: $questrial;
}
