// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#review-index{
    transform: rotate(180deg);
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

ul#review-index > li {
    transform: rotate(-180deg);
}
