body {
	background-color: white;
	z-index: 0;
	background-image: url(https://static.pexels.com/photos/260922/pexels-photo-260922.jpeg);
}

.login-signup {
	display: flex;
	flex-direction: row-reverse;
	background-color: transparent;
	font-size: 30px;
	justify-content: space-between;
	padding: 10px;

	align-items: center;
	height: 45px;
}
.header-group {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	background-color: transparent;
	font-size: 30px;
	justify-content: space-around;
	padding: 10px;

	align-items: center;
	height: 45px;
	// background-color: #58A4B0;
	// background-color: #58A4B0;
	// background-color: #9b7129;
	// background-color: #c1933e;
	// background-color: #6A4326;
	background-color: #8b6445;
}

h1 {
	justify-content: center;
	text-align: center;
}
#motto {
	color: #e5aa44;
	font-size: 30px;
	text-align: center;
}

.straightup {
	margin: auto;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-family: $questrial;
	font-size: 75px;
	color: #58a4b0;
	margin: 20px auto;
	align-content: center;
}
.motto {
	align-items: center;
}
.guest-button {
	height: 35px;
}
a.login,
a.sign-up {
	height: 60px;
}

.login,
.sign-up,
.guest-button {
	border-color: white;
	background-color: transparent;
	border-width: thick;
	border-width: 2px;
	border-style: solid;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 10px;
	font-weight: bold;
	color: #b8bfb4;

	font-family: $questrial;
}

.logout-button,
.global,
.check-in,
.top-rated {
	border-color: white;
	background-color: #6f6e63;
	border-width: thick;
	border-width: 2px;
	border-style: solid;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 10px;
	font-weight: bold;
	color: white;

	font-family: $questrial;
}
.logout-button:hover,
.global:hover,
.check-in:hover,
.top-rated:hover {
	border-color: white;

	background-color: #e5aa44;
}

.header-name {
	text-decoration: none;
}
.login:hover,
.sign-up:hover,
.guest-button:hover {
	background-color: #e5aa44;
	color: white;
}
