body {
  background-color: green;
  background-image:url(https://static.pexels.com/photos/260922/pexels-photo-260922.jpeg);
}

.login-signup, .header-group {
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
  font-size: 30px;
  justify-content: space-between;
  padding: 10px;

  align-items: center;
  height: 45px;

}

.straightup {
  font-weight: bold;
  font-family: $questrial;
  font-size:75px;
  color: #58A4B0;
  margin-top: 30px;
}
.guest-button{
  height: 35px;
}
a.login, a.sign-up {
  height: 60px;
}

.login,.sign-up, .guest-button, .logout-button{
  border-color: white;
  background-color: transparent;
  border-width: thick;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right:10px;
  font-weight: bold;
  color: #B8BFB4;

  font-family: $questrial;
}

.login:hover,.sign-up:hover, .guest-button:hover, .logout-button:hover{
  background-color: #53131E;
  color: white;
}
